# Ignore all files...
*.*

# ...Except these...
!.gitignore
!*.gif
!*.cpp
!*.csv
!*.h
!*.h5
!*.jpg
!*.md
!*.png
!*.pth
!*.py
!*.txt

# Ignore PyCharm .idea folders
python/*/.idea/

# Ignore large UTKFace dataset and models
datasets/UTKFace/
python/\#artificial_intelligence_machine_learning/pytorchutkface/model.pth
python/\#artificial_intelligence_machine_learning/tensorflowutkface/model.h5

# Ignore MySQL password
sql_password.txt

# Ignore makefiles
cpp/*/makefile
