# Ignore all files...
*.*

# ...Except these
!.gitignore
!*.cpp
!*.csv
!*.gif
!*.h
!*.h5
!*.jpeg
!*.jpg
!*.json
!*.md
!*.png
!*.pth
!*.py
!*.txt

# Ignore PyCharm .idea folders
python/*/.idea/

# Ignore large datasets and models
datasets/alzheimers/
datasets/parkinsons/
datasets/UTKFace/
python/\#artificial_intelligence_machine_learning/pytorch_alzheimers_classification/model.pth
python/\#artificial_intelligence_machine_learning/pytorch_parkinsons_classification/model.pth
python/\#artificial_intelligence_machine_learning/pytorch_utkface/model.pth

# Ignore MySQL password
sql_password.txt

# Ignore makefiles
cpp/*/makefile
