beautifulsoup4
ffmpeg
graphviz
imageio
matplotlib
mutagen
nltk
numpy
opencv-python
pandas
pyautogui
pycurl
pydot
pydub
pygame-ce
pyinstaller
python-dateutil
requests
scikit-learn
scikit-optimize
#tensorflow  <- not supported in 3.14 as of 03/2026
keras
transformers
torch
torchvision
torch-summary
tqdm
webptools
yt-dlp
