beautifulsoup4
ffmpeg
graphviz
imageio
matplotlib
mutagen
nltk
numpy
opencv-python
pandas
pyautogui
pycurl
pydot
pydub
pygame
pyinstaller
scikit-learn
scikit-optimize
tensorflow
keras
transformers
torch
torchvision
torch-summary
tqdm
webptools
yt-dlp
