beautifulsoup4
eyed3
ffmpeg
graphviz
imageio
matplotlib
nltk
numpy
opencv-python
pandas
pyautogui
pydot
pydub
pygame
pyinstaller
pytube
scikit-learn
tensorflow
keras
transformers
torch
torchvision
torch-summary
tqdm
