.root {
	-fx-background-color: linear-gradient(#141414, #383838);
}

.root-no-gradient {
	-fx-background-color: #141414;
}

.text-field, .text-area, .button, .choice-box .label, .choice-box .context-menu .label, .titled-pane {
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #141414;
	-fx-background-radius: 4;
	-fx-background-color: #dcdcdc;
	-fx-wrap-text: true;
}

.label {
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #dcdcdc;
}

.text-area .content {
	-fx-background-color: #dcdcdc;
}

.button {
	-fx-background-color: linear-gradient(#10c0f0, #9090f0);
	-fx-font-weight: bold;
	-fx-min-height: 37px;
	-fx-max-height: 37px;
}

.button:hover {
	-fx-background-color: linear-gradient(#00f060, #10c0f0);
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.button:pressed {
	-fx-scale-x: 0.98;
	-fx-scale-y: 0.98;
}

.slider .axis {
	-fx-tick-label-fill: #dcdcdc;
}

.table-view, .table-view .column-header .label, .table-cell {
	-fx-alignment: center;
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #141414;
}

.table-view .column-header .label {
	-fx-background-color: #dcdcdc;
}

.check-box {
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #dcdcdc;
}

.check-box-accordion {
	-fx-text-fill: #141414;
}

.check-box .box {
	-fx-background-color: #bbbbbb;
}
